@use 'sass:math';

header {
	grid-area: nav;
	border-bottom: $border-separator;

	nav {
		ul {
			display: flex;
			flex-flow: row nowrap;
			margin: math.div($header-height, 3) 0;

			li {
				display: inline-block;
				&:not(:last-child)::after {
					content: '|';
					margin: 0.3rem;
				}
			}
		}
	}
}
