@use 'sass:math';

header {
	grid-area: nav;
	border-bottom: $border-separator;

	nav {
		ul {
			li {
				display: inline-block;
				&:not(:last-child)::after {
					content: '|';
					margin: 0.3rem;
				}
			}
		}
	}
}
