table {
	$size: 3rem;
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		text-align: left;
		padding: 0 0.75rem;
		border: none;
	}

	td {
		line-height: 1.2;
	}

	tr,
	td {
		height: $size;
	}

	.image {
		padding: 0;
	}

	thead.sticky {
		z-index: 1;
		th {
			// Make border stay visible with sticky and border-collapse: collapse
			top: -1px;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				border-bottom: 1px solid $border-light;
			}
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid $background-highlight;
			&:hover {
				background-color: $background-highlight;
			}
		}
	}

	.highlighted {
		background-color: gray(50%, 20%);
	}
}
