language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
script:
  - npm run lint
  - npm test
  - npm run production
deploy:
  provider: pages
  local_dir: dist
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
