@use 'sass:color';

a.button:hover {
	text-decoration: none;
}

.button {
	min-height: 2.2rem;
	min-width: 2.2rem;
	cursor: pointer;
	background: none;
	outline: 0;
	border: 1px solid color.adjust($text-color, $alpha: -0.2);
	border-radius: 3rem;
	line-height: 1;
	padding: 0.5rem;
	color: $text-color;
	text-align: center;

	&:active {
		border-color: $text-color-inactive;
		color: $text-color-inactive;
	}

	&:hover:not(:active) {
		background-color: $background-highlight;
		border-width: 2px;
		padding: calc(0.5rem - 1px);
	}

	&.primary {
		border: none;
		background-color: $primary;

		&:hover {
			background-color: $primary-light;
			padding: 0.5rem;
		}

		&:active {
			background-color: $primary-dark;
		}

		&.disabled {
			color: #999;
			cursor: not-allowed;
			background-color: #555;
		}
	}

	&.pending {
		border: none;
		background-color: $progress;
		cursor: wait;

		&:hover:not(:active) {
			background-color: $progress;
			padding: 0.5rem;
			border-width: 0;
		}
	}

	&.failed {
		background-color: transparent;
		border-color: $progress;
		color: $progress;

		&:hover:not(:active) {
			background-color: rgba($progress, 0.08);
			border-color: $progress;
		}
	}
}
