input[type='checkbox'] {
	-webkit-appearance: none;
	background-color: $background;
	border: 2px solid $border-light;
	padding: 0.5rem;
	border-radius: 0.2rem;
	display: inline-block;
	position: relative;
	z-index: 0;
	cursor: pointer;

	&:checked:after {
		content: '✓';
		font-size: 1.8em;
		position: absolute;
		top: -0.45em;
		left: -0.15em;
		color: $text-color;
	}

	&:focus {
		outline: 0;
	}
}
