label.input {
    margin: 0.25rem 0;
    display: block;
    & > span.label {
        display: inline-block;
        vertical-align: top;
        line-height: 1.4rem;
        height: 1.2rem;
    }

    & > input + span {
		margin-left: 6px;
	}
}