label.input {
	margin: 0.25rem 0;
	cursor: pointer;
	> span.label {
		vertical-align: top;
		line-height: 1.4rem;
		height: 1.2rem;
	}

	> input + span {
		margin-left: 6px;
	}
}

.vertical label.input {
	display: block;
	> span.label {
		display: inline-block;
	}
}

.horizontal label.input {
	margin-right: 0.75rem;
}
