label.input {
	cursor: pointer;
	> input + span {
		margin-left: 0.3em;
	}
}

.vertical label.input {
	display: block;
	> span.label {
		display: inline-block;
	}
}

.horizontal label.input {
	margin-right: 0.75rem;
}
