input[type="text"] {
    background: none;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.5rem;
    color: var(--text-color-inactive);



    &::placeholder {
        font-family: FontAwesome, sans-serif;
        &:hover {
            color: red;
        }
    }
    &:hover::placeholder {
        color: var(--text-color);
    }

    &:focus {

        color: var(--text-color);
        background-color: var(--input-focus);
    }
}

