.manager {
	.stats {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: right;
		align-self: flex-end;
	}

	.header {
		margin: 1rem 0;

		h1 {
			margin: 0;
		}

		input {
			margin-top: 0.1rem;
			vertical-align: top;
			margin-left: 1rem;
			flex-grow: 2;
		}
	}

	form {
		margin-top: 0.5rem;
		> .row:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}
