.playlists {
	& th.select, & th.image {
		width: 2rem;
	}
	& .images img {
		height: 2rem;
		width: 2rem;
	}

	& input[type="checkbox"] {
		border-color: var(--border-dark);
	}
}

.playlists-compare {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	width: 100%;

	& .playlists {
		width: 50%;
	}
}