table.playlists {
    border-collapse: collapse;

    & th, & td {
        text-align: left;
        padding: 0.5rem;
        line-height: 0.7;
        border: none;
    }

    & .images img {
        height: 2rem;
        width: 2rem;
    }

    & tr, & td {
        height: 2rem;
    }

    & tbody tr:hover {
        background-color:  gray(0, 10%);
    }
}
