$header-height: 3rem;
$max-width: 80rem;
$grid-columns: auto $max-width auto;

$text-color: #ffffff;
$text-color-inactive: color($text-color alpha(-30%));

$background-highlight: #282828;
$background: #181818;

$border-dark: #383838;
$border-light: #666;

$input-focus: #404040;

$primary-dark: #14833b;
$primary: #1db954;
$primary-light: #1ed760;

@mixin tablet {
	@media (max-width: $max-width) {
		@content;
	}
}