:root {
  --header-height: 3rem;
  --max-width: 80rem;
  --grid-columns: auto var(--max-width) auto;

  --text-color: #ffffff;
  --background-highlight: #282828;
  --background: #181818;
}

@custom-media --medium (width < 80rem);